/*Gallery container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-p gallery-p gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4 img10 img5"
    "img6 img7 img8 img9 img10 img11";
}

#index-gallery .gallery-img {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* Images */
#index-gallery P {
    grid-area: gallery-p;
}
#index-gallery h2 {
    grid-area: gallery-h2;
}
#index-gallery .img1 {
    grid-area: img1;
    background-image: url("../img/Thumbs/img1.jpg");
}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url("../img/Thumbs/img2.jpg");
}
#index-gallery .img3 {
    grid-area: img3;
    background-image: url("../img/Thumbs/img3.jpg");  
}
#index-gallery .img4 {
    grid-area: img4;
    background-image: url("../img/Thumbs/img4.jpg");
}
#index-gallery .img5 {
    grid-area: img5;
    background-image: url("../img/Thumbs/img5.jpg");   
}
#index-gallery .img6 {
    grid-area: img6;
    background-image: url("../img/Thumbs/img6.jpg");   
}
#index-gallery .img7 {
    grid-area: img7;
    background-image: url("../img/Thumbs/img7.jpg");   
}
#index-gallery .img8 {
    grid-area: img8;
    background-image: url("../img/Thumbs/img8.jpg");   
}
#index-gallery .img9 {
    grid-area: img9;
    background-image: url("../img/Thumbs/img9.jpg");
}
#index-gallery .img10 {
    grid-area: img10;
    background-image: url("../img/Thumbs/img10.jpg");
    height: 210px;
}
#index-gallery .img11 {
    grid-area: img11;
    background-image: url("../img/Thumbs/img11.jpg");
}


/*Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.6;
    transition: all ease-in-out 100ms;
}

/* Popup window when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
    
}

/* Next image*/
.img-btn-next {
    display: block;
    padding: 6px 10px; 
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover {
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    padding: 6px 10px; 
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.8;
} 